#!/usr/bin/env bash
# shellcheck disable=SC1091

source_up

root_dir=$(git rev-parse --show-toplevel)

nixArgs=()
if [ "${QUITSH_NIX_NO_PURE_EVAL:-}" = "true" ]; then
    nixArgs+=("--no-pure-eval")
fi

source "$root_dir/external/custodian/just/devenv.sh" &&
    root_file=$(set_devenv_root "${root_dir}")

use flake "$root_dir/tools/nix#pdf-renderer" \
    "${nixArgs[@]}" \
    --show-trace \
    --override-input devenv-root "path:$root_file"
