#!/usr/bin/env bash
# shellcheck disable=SC1091

# If you have `direnv` installed, this file
# will source the Nix devShell `default` directlty when entering this
# directory.
if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
    echo "Loading nix-direnv, because its faster..."
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
fi

nixArgs=()
if [ "${QUITSH_NIX_NO_PURE_EVAL:-}" = "true" ]; then
    nixArgs+=("--no-pure-eval")
fi

source "tools/just/devenv.sh" && root_file=$(set_devenv_root ".")

use flake ./tools/nix#default \
    "${nixArgs[@]}" \
    --show-trace \
    --override-input devenv-root "path:$root_file"
