# Output folders.
.output

# All .env files
.env
.env.yml
.env.yaml

# Nix
.direnv
.devenv
result

# Vendir temporary folder.
.vendir*

# Links
.taplo.toml
.rustfmt.toml
.prettierrc.yaml
.yamllint.yaml
.typos.toml
.golangci.yaml
.prek.toml
go.work
go.work.sum

logs

.agents
.claude
CLAUDE.md
AGENTS.md
